.events-calendar__header {
	padding-bottom: var(--ant-padding-md);
	display: flex;
	justify-content: center;
	align-items: center;
}

.events {
	margin: 0;
	padding: 0;
	list-style: none;
}
.events .ant-badge-status {
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
}
.notes-month {
	font-size: 28px;
	text-align: center;
}
.notes-month section {
	font-size: 28px;
}
