.not-approved {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--ant-padding);

	&__title {
		margin-top: var(--ant-padding-xs);
	}

	&__btn {
		margin-top: var(--ant-padding);
	}
}
