.events-calendar__header {
	padding: var(--ant-padding-md) 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.events {
	margin: 0;
	padding: 0;
	list-style: none;
}
.events .ant-badge-status {
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
}
.notes-month {
	font-size: 28px;
	text-align: center;
}
.notes-month section {
	font-size: 28px;
}

.ant-picker-panel {
	.ant-picker-date-panel,
	.ant-picker-body,
	.ant-picker-content {
		height: 100%;
	}
}
