.events-calendar__header {
	padding: var(--ant-padding-md) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4a4a4a;
}

.badge-appointments {
	background-color: orange;
	margin-right: 10px;
}

.badge-events {
	background-color: blue;
	margin-right: 10px;
}

.list-item-school-name,
.list-item-event-title {
	font-weight: bold;
	color: #4a4a4a;
}

.list-item-planned-date,
.list-item-event-date {
	color: #4a4a4a;
}

.events {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #4a4a4a;
}

.events .ant-badge-status {
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	color: #4a4a4a;
}
.notes-month {
	font-size: 28px;
	text-align: center;
	color: #4a4a4a;
}
.notes-month section {
	font-size: 28px;
	color: #4a4a4a;
}

.ant-picker-panel {
	.ant-picker-date-panel,
	.ant-picker-body,
	.ant-picker-content {
		height: 100%;
		color: #4a4a4a;
	}
}

.ant-list-split .ant-list-item:last-child {
	display: block;
	padding: 5px;
	border-block-end: var(--ant-line-width) var(--ant-line-type) var(--ant-color-split);
}

.ant-list-empty-text {
	display: none;
}
