.main-layout {
	height: 100%;

	&__sider {
		.sider__logo {
			display: flex;
			align-items: center;
			margin: 7px 10px;
			height: 50px;
			gap: 15px;

			img:nth-child(1) {
				transition: 250ms;
				height: 35px;
			}

			img:nth-child(2) {
				height: fit-content;
				width: 110px;
				opacity: 1;
				transition: 250ms;
			}
		}

		&.ant-layout-sider-collapsed {
			.sider__logo {
				img:nth-child(1) {
					margin-left: 15px;
				}

				img:nth-child(2) {
					opacity: 0;
				}
			}
		}
	}

	.ant-menu {
		margin-top: 2rem;
	}

	&__header {
		position: relative;
		background-color: var(--ant-color-bg);

		.sider-trigger,
		.sider-trigger__collapsed {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-30%, -50%);

			svg {
				transition: rotate var(--ant-motion-duration-mid);
			}
		}

		.sider-trigger__collapsed {
			svg {
				rotate: 180deg;
			}
		}
	}

	&__content {
		background-color: var(--ant-color-bg);
		padding: var(--ant-padding) 0 0 var(--ant-padding);
	}
}
