.calendar-layout {
	height: 100%;

	.ant-layout-sider {
		margin-top: 16px;
		padding: var(--ant-padding) 0;

		&-children {
			height: fit-content;
			width: 100%;
			font-weight: bold;
		}
	}

	.ant-layout-content {
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--ant-color-bg-elevated);
		border-radius: calc(var(--ant-border-radius) * 3) 0 0 0;
		margin: 16px 0 0 16px;
		padding: 16px 0 0 16px;
		gap: 10px;
		box-shadow: 0 0 30px rgba(130, 130, 130, 0.15);
	}

	.basic-layout__content.calendar-layout__content {
		.ant-picker-calendar {
			height: 100%;
			display: grid;
			grid-template-rows: auto 1fr;
		}
	}
}
