// By default, antd's Table is not taking its container height with a simple height: 100%,
// so I had to customize the style.
// Source: https://github.com/ant-design/ant-design/issues/23974#issuecomment-698787941
.contacts-table {
	width: 100%;
	height: 100%;

	.ant-spin-nested-loading {
		height: 100%;

		.ant-spin-container {
			height: 100%;
			display: flex;
			flex-flow: column nowrap;

			.ant-table {
				flex: auto;
				overflow: hidden;

				.ant-table-container {
					height: 100%;
					display: flex;
					flex-flow: column nowrap;

					.ant-table-header {
						flex: none;
					}

					.ant-table-body {
						flex: auto;
						overflow: auto;
					}
				}

				.ant-table-pagination {
					flex: none;
				}
			}
		}
	}

	thead.ant-table-thead {
		th {
			background: #fffbf8;
		}
	}

	tbody.ant-table-tbody {
		.favorite-button {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		tr:nth-child(even) {
			td.ant-table-cell.ant-table-cell-row-hover {
				background: #fdf0e3;
			}
		}

		tr:nth-child(odd) {
			td.ant-table-cell {
				background: #fffbf8;

				&.ant-table-cell-row-hover {
					background: #fdf0e3;
				}
			}
		}
	}
}
