.header {
	font-weight: bold;
	border-radius: 10%;
	color: rgba(255, 255, 255, 1);
	position: relative;
}

.DetailEvent {
	margin-top: 2%;
	font-weight: bold;
}

.button {
	margin: 5%;
}

.descriptif {
	margin-top: 5%;
	border-width: 5px;
	width: 60%;
	max-width: 60%;
}

.referent {
	width: 100%;
	max-width: fit-content;
	border-width: 5px;
}

.participants {
	margin-top: 5%;
	border-width: 5px;
	max-width: fit-content;
	width: 100%;
}

.cardContent {
	background-repeat: 'no-repeat';
	background-size: 'cover';
	width: 80%;
	height: 200px;
}
