.container {
  display: flex;
  flex-direction: column;
}

.choose-reward-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 20px 0;
  .points {
    color: var(--ant-color-primary);
  }
}

.rewards-list {
  max-height: calc(93vh - 150px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.validate-rewards {
  display: flex;
  gap: 30px;
  align-items: baseline;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}