.se-divider {
	display: grid;
	gap: var(--ant-margin-sm);
	align-items: center;

	&--1-items {
		grid-template-columns: var(--ant-padding-xl) max-content auto;
	}

	&--2-items {
		grid-template-columns: var(--ant-padding-xl) max-content auto min-content;

		&.se-divider--with-icon {
			grid-template-columns: var(--ant-padding-xl) min-content max-content auto;
		}
	}

	&--3-items {
		grid-template-columns: var(--ant-padding-xl) max-content auto min-content min-content;

		&.se-divider--with-icon {
			grid-template-columns: var(--ant-padding-xl) min-content max-content auto min-content;
		}
	}

	&--4-items {
		grid-template-columns: var(--ant-padding-xl) min-content max-content auto min-content min-content;
	}

	h5 {
		margin: 0;
		width: fit-content;
	}
}
