.contacts-layout {
	.ant-layout-sider {
		display: flex;
		align-items: center;
		justify-content: center;
		background: cyan;

		&-children {
			height: fit-content;
			font-weight: bold;
		}
	}

	.ant-layout-content {
		display: flex;
		align-items: center;
		justify-content: center;
		background: red;
		font-weight: bold;
	}

	.ant-layout-header {
		display: flex;
		align-items: center;
		justify-content: center;
		background: orange;
		font-weight: bold;
	}
}
