.event-cell {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.event-infos {
  display: flex;
  flex-direction: column;
  width: 75%;
  .description {
    border: 2px solid var(--ant-color-border);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
  }
}

.points-won {
  font-size: 14px;
  color: var(--ant-color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .points {
    color: var(--ant-color-primary);
    font-weight: bold;
    font-size: 20px;
  }
}

.historic-event__date-and-address {
  display: flex;
  gap: 5px;
}