.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reward-container {
  width: 60%;
  border: 2px solid #AEAEAE;
  border-radius: 15px;
  padding: 0 15px;
  .convert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .points {
      color: #FE8E06;
    }
    .convert-button {
      width: 12em;
      height: 3em;
      background-color: #FE8E06;
      border-radius: 20px;
      font-weight: bold;
    }
  }
}

.historic-container {
  margin-top: 40px;
  width: 60%;
  height: 100%;
  border: 2px solid #AEAEAE;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 0 15px;
}