@import '../../assets/variables.less';

.auth-layout {
	height: 100%;
	width: 100%;
	display: grid;

	&__hero {
		border-radius: 2rem;
		padding: 1rem;
		margin: 1rem;
		background-color: #0f1828;
		display: flex;

		&__logo-container {
			height: fit-content;
			display: flex;
			flex-direction: column;
			justify-items: center;

			&__logo {
				max-height: 300px;
				height: 100%;
				width: auto;
			}

			&__text {
				width: 100%;
				max-width: 500px;
				margin-top: 2rem;
			}
		}

		p {
			color: white;
			font-size: 1.75rem;

			span {
				color: @primary-color;
			}
		}
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			font-size: 2.5rem;
		}

		.ant-card-body {
			min-width: 450px;
		}

		form {
			transition: height 250ms ease-in-out;
			max-width: 400px;
			width: 100%;
			padding: 1rem;

			label.ant-form-item-required {
				font-size: 1.15rem;
			}

			button[type='submit'] {
				margin-top: 2rem;
			}
		}
	}
}

@media screen and (min-width: 891px) {
	.auth-layout {
		grid-template-columns: 40% 60%;

		&__hero {
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			p {
				margin: 4rem 0;
			}
		}
	}
}

@media screen and (max-width: 890px) {
	.auth-layout {
		grid-template-rows: 30% 70%;

		&__hero {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2rem;

			&__logo-container {
				max-width: 30%;
				height: 100%;
				display: grid;
				grid-template-rows: 70% 30%;
				justify-items: center;
				align-content: center;
			}

			p {
				margin: 0;
			}
		}

		&__content {
			padding: 0 1rem;
		}
	}
}
