.appointment-modal {
	&--new {
		.ant-modal-content {
			height: unset;

			.ant-modal-body {
				height: unset;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.appointment-attachments,
	.appointment-comments {
		margin-top: var(--ant-margin-xxl);
	}
}
