.drop-zone {
	display: grid;
	grid-template-rows: min-content auto min-content;
	gap: var(--ant-padding);
	overflow: hidden;

	&__title-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: var(--ant-color-bg-layout);
		padding: var(--ant-padding-sm) var(--ant-padding);
		border-radius: var(--ant-border-radius);

		.ant-typography {
			&.drop-zone__title,
			&.drop-zone__count {
				padding: 0;
				margin: 0;
				width: fit-content;
			}
		}
	}

	&__list-container {
		overflow: hidden;
		overflow-y: auto;
		background-color: var(--ant-color-bg-layout);
		padding: var(--ant-padding-sm);
		border-radius: var(--ant-border-radius);
		// This trick allows to clip the list items behind the inner border
		outline: var(--ant-padding-sm) solid var(--ant-color-bg-layout);
		outline-offset: calc(var(--ant-padding-sm) * -1);
		transition:
			outline 150ms ease-in-out,
			outline-offset 250ms ease-in-out;
		// Hide scroll bar
		scrollbar-width: none;

		&--hover {
			outline: var(--ant-padding-xxs) solid var(--ant-color-primary);
			outline-offset: calc(var(--ant-padding-xxs) * -1);
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: var(--ant-padding-sm);
			width: 100%;
			height: 100%;

			.drag-item {
				background-color: var(--ant-color-bg-elevated);
				padding: var(--ant-padding-sm);
				border-radius: var(--ant-border-radius);
			}
		}
	}

	.icon-button.new-apt-btn {
		height: 50px;
	}
}
